@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h3><b>How to use our services :</b></h3>
<h4> As a customer : </h4>
<p>Click on login to access your account. Click on a city to display the restaurants located there. Choose a dish to add to your shopping cart.</p>

<h4> As a deliverer </h4>
<p>Click on login to access your account. You will directly see all the orders attributed to you and their status. Click on "delivered" when the order has been fully distributed to the customer.</p>

