@{
    ViewData["Title"] = "Contact";
    if (!(Convert.ToBoolean(ViewBag.isCusto)))
    {
        Layout = "~/Views/Shared/_LayoutStaffView.cshtml";
    }
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
@*<h3>Contact us : </h3>*@


<contact>
    <b>Brice Berclaz - Aurélien May</b><br />
    HES students<br />
    Business Information Technology Department<br /><br />
</contact>

<address>
    <strong>Support:</strong> <a href="mailto:brice.berclaz@students.hevs.ch">brice.berclaz@students.hevs.ch</a><br />
    <strong>Marketing:</strong> <a href="mailto:aurelien.may@students.hevs.ch">aurelien.may@students.hevs.ch</a>
</address>

<address>
    <b>Supported by :</b><br />
    HES-SO Valais-Wallis<br />
    Rte de la Plaine 2<br />
    3960 Sierre<br />
    <a href="https://www.hevs.ch/">https://www.hevs.ch/fr/</a><br />
    <img src="~/images/HESLOGO.png" alt="ASP.NET" class="img-responsive" />
</address>