@model DTO.Dish

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <text>Would you like to add this item to your shopping cart ? </text>
            <blockquote>@Html.DisplayNameFor(model => model.name)</blockquote>
            @*<div class="form-group">
                <label asp-for="idDish" class="control-label"></label>
                <input asp-for="idDish" class="form-control" />
                <span asp-validation-for="idDish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <label asp-for="name" class="form-control"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="control-label"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fk_idRestaurant" class="control-label"></label>
                <input asp-for="fk_idRestaurant" class="form-control" />
                <span asp-validation-for="fk_idRestaurant" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
