@model DTO.Login

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCreateAnAccount.cshtml";
}

<h2>Create your username and password</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="idLogin" class="control-label"></label>
            <input asp-for="idLogin" class="form-control" />
            <span asp-validation-for="idLogin" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <b style="color:red; font-size:small;">
                @*Error message set in controller if the username entered is already taken*@
                <p>@ViewBag.ErrorUsernameTaken</p>
            </b>
            <div class="form-group">
                <input type="submit" value="Continue to connection" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
