@model DTO.Login

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

    <body style="background-image:url(images/loginBackground.jpg); text-align:center; vertical-align:middle;">
        <div class="row" >
            <div class="col-md-4">
                <img src="~/images//login.png" />
                <h2 style="font-family:'Courier New'">Login</h2>
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <b style="color:red; font-size:small;">
                            @*Error message set in controller if username not entered or password not entered or invalid login*@
                            <p>@ViewBag.ErrorMessage</p>
                        </b>
                        <label asp-for="username" class="control-label"></label>
                        <input asp-for="username" class="form-control" type="text" placeholder="your username" required/>
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" type="password" placeholder="your password" required/>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" style="background-color: #4CAF50; color: white; padding: 16px 20px; margin: 8px 0; border: none; cursor: pointer; width: 10%; opacity: 0.9;"/>
                    </div>
                </form>
            </div>
        </div>

        <p>
            @Html.ActionLink("Create an account", "Create", "Customer")
        </p>
    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
