@model DTO.Login

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Login</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" type="text" placeholder="your username"/>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" placeholder="your password"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (false)
                {
                    <input value="Log in" class="btn btn-default disabled"/>
                }
                else
                {
                    <input type="submit" value="Log in" class="btn btn-default active" />
                }
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create an account</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
